<section id="about-me" class="about-me">
    <div class="about-me-content">
        <h2 class="auto-show">About Me</h2>
        <p class="auto-show">
            I am a passionate Frontend Developer with a strong focus on creating
            user-friendly and visually appealing web applications. My journey in
            web development began with a fascination for technology and design,
            and I have since honed my skills in HTML, CSS, JavaScript, and
            various frameworks.
        </p>
        <p class="auto-show">
            I thrive on challenges and enjoy solving complex problems through
            innovative solutions. My goal is to deliver high-quality code that
            not only meets the needs of users but also exceeds their
            expectations.
        </p>
        <div class="about-me-keywords auto-show">
            <img src="/assets/img/point.svg" alt="About Me">
            <p>I am able to carry out my professional activities both in Frankfurt and its vicinity, and also remotely from a home office. </p>        
        </div>
        <div class="about-me-keywords auto-show">
            <img src="/assets/img/lamp.svg" alt="About Me">
            <p>I am open to new things and like to challenge myself to continuously expand my knowledge and skills.</p>
        </div>
        
    </div>
    <div class="about-me-image slide-in-right">
        <img src="/assets/img/portrait2.png" alt="About Me">
        <div class="line-to-about-me-img"></div>
    </div>

</section>