<section class="header">
    <svg width="200" height="100">
        <defs>
          <path id="curve" d="m 18 28 c 15 -8 112 -8 127 0" />
        </defs>
        <text>
          <textPath xlink:href="#curve" class="header-name">
            Christian
          </textPath>
        </text>
      </svg>

    <div class="header-menu">
        <a routerLink="/aboutMe" routerLinkActive="active">About me</a>
        <a routerLink="/skills" routerLinkActive="active">Skills</a>
        <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        <div class="languageSection">Language</div>
    </div>
</section>