.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #141d2f00;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #9747FF;
    margin: 10px;

    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0 10px;
        padding: 10px;
        transition: ease-in-out 0.2s;
        cursor: pointer;
    }
    @media (max-width: 768px) {
        display: none;
        
    }
}

.header-name {
    width: 290px;
    fill: #ffffff;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: Poppins ;
    display: flex;
    justify-content: flex-start;
    background: url('/assets/img/font-background.png') repeat-x;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
    animation: move-background 4s linear infinite;

    span {
        display: inline-block;
        width: 30px;
        text-align: center;
        letter-spacing: 0.05rem;
    }
}

.burger-icon {
    display: none;
    @media (max-width: 768px) {
        display: block;
        width: 40px;
        height: 40px;
        color: #9747FF;
        cursor: pointer;
        position: fixed;
        right: 10px;
        top: 10px;
        z-index: 1100;
    }
}

button {
    background: none;
    border: 2px solid #00FF00;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    
    &:hover {
      background-color: #9747FF;
      color: #141D2F;
    }
  }

@keyframes move-background {
    0% {
        background-position: 150% 0;
    }
    100% {
        background-position: -150% 0;
    }
}