.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #141d2f00;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #9747FF;
    margin: 10px;

    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0 10px;
        padding: 10px;
        transition: ease-in-out 0.2s;
        cursor: pointer;
    }
}

.header-name {
    width: 200px;
    fill: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: Poppins, monospace;
    display: flex;
    justify-content: flex-start;

    span {
        display: inline-block;
        width: 22px; // Feste Breite für jeden Buchstaben
        text-align: center;
    }

    .first-letter {
        animation: color-change-violett 4s ease-in-out infinite;
    }
    .last-letter {
        animation: color-change-green 4s ease-in-out infinite;
        animation-delay: 1s;
    }
}

@keyframes color-change-violett {
    0% {
        color: #ffffff;
    }

    50% {
        color: #9747FF;
    }

    100% {
        color: #ffffff;
    }
}

@keyframes color-change-green {
    0% {
        color: #ffffff;
    }

    50% {
        color: #00FF00;
    }

    100% {
        color: #ffffff;
    }
}