.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #141d2f00;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #141D2F;
    width: 100%;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #9747FF;

    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 700;

        padding: 10px;
        transition: ease-in-out 0.2s;
        cursor: pointer;
    }
    @media (max-width: 780px) {
        display: none;
        
    }
}

.header-name {
    width: 290px;
    fill: #ffffff;
    font-size: 2.3rem;
    font-weight: 700;
    font-family: Poppins;
    display: flex;
    justify-content: flex-start;
   
    animation: move-background 4s linear infinite;

    span {
        display: inline-block;
        width: 8vw;
        text-align: center;
        color: #ffffff;

        &:first-child {
            color: #9747FF;
        }

        &:last-child {
            color: #70E61C;
        }
    }
}

.burger-icon {
    display: none;
    @media (max-width: 780px) {
        display: block;
        width: 40px;
        height: 40px;
        color: #9747FF;
        cursor: pointer;
        position: fixed;
        right: 0;
        top: 10px;
        z-index: 1100;
    }
}

button {
    background: none;
    border: 2px solid #00FF00;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease;
    
    &:hover {
      background-color: #9747FF;
      color: #141D2F;
    }
  }

