<section class="header">
    <div class="header-name">
        <span *ngFor="let letter of scrambledName; let i = index" >{{ letter }}</span>
    </div>

    <div class="header-menu">
        <a (click)="scrollToSection('about-me')" class="nav-link" [class.active]="false">About me</a>
        <a (click)="scrollToSection('skills')" class="nav-link" [class.active]="false">Skills</a>
        <a (click)="scrollToSection('portfolio')" class="nav-link" [class.active]="false">Portfolio</a>
        <div class="language-toggle">
            <button (click)="toggleLanguage()">{{ currentLanguage === 'en' ? 'DE' : 'EN' }}</button>
          </div>
     </div>   
     <div class="burger-icon" (click)="toggleMenu()" [class.open]="isMenuOpen">
        <svg width="24" height="24" viewBox="0 0 24 24">
            <path class="line line-1" d="M3 6h18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"></path>
            <path class="line line-2" d="M3 12h18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"></path>
            <path class="line line-3" d="M3 18h18" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"></path>
        </svg>
     </div>
    
</section>

<app-mobile-menu [isOpen]="isMenuOpen" (close)="toggleMenu()"></app-mobile-menu>