<div class="header">
    <div class="header-name">
        <h1>C</h1>
        <h1>h</h1>
        <h1>r</h1>
        <h1>i</h1>
        <h1>s</h1>
        <h1>t</h1>
        <h1>i</h1>
        <h1>a</h1>
        <h1>n</h1>
    </div>
    <div class="header-menu">
        <a routerLink="/aboutMe" routerLinkActive="active">About me</a>
        <a routerLink="/skills" routerLinkActive="active">Skills</a>
        <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
        <div class="languageSection">Language</div>

    </div>
</div>