<section>
    <div class="contact-text">
        <h1>Contact</h1>
        <p>If you have any questions, feel free to contact me!</p>
    </div>
    <div class="contact-form-area">
        <form class="contact-form" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="inputField">
                <input [(ngModel)]="contactData.name" minlength="2" name="name" placeholder="Your name" required>
            </div>
           <div class="inputField">
                <input type="email" [(ngModel)]="contactData.email" placeholder="Your email" name="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
            </div>
            <div class="inputField">
                <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message" placeholder="Your message" required></textarea>
            </div>
            @if(!message.valid && message.touched) {
                <p class="error">Message must be at least 4 characters long.</p>

            }
            <mat-checkbox class="example-margin" [(ngModel)]="checked" name="checked"
                [labelPosition]="getLabelPosition()" [disabled]="getIsDisabled()">
                I´ve read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.
            </mat-checkbox>
            <button class="send-button" type="submit" value="Submit">Send Message</button>
        </form>
    </div>

</section>