
section {
margin: 180px 0 180px 0;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.skill-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 Spalten */
    grid-gap: 20px; /* Abstand zwischen den Icons */
    justify-items: center; /* Zentriert die Icons horizontal */
    align-items: center; /* Zentriert die Icons vertikal */
    width: 80%; /* Breite des Grids */
    max-width: 800px; /* Maximale Breite des Grids */
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skill-icon img {
    width: 80px; /* Größe der Icons */
    height: 80px;
    margin-bottom: 10px;
}