<section>
    <div class="skill-icons">
        <div *ngFor="let skill of skills" class="skill-icon">
            <img [src]="skill.pfad" [alt]="skill.title">
            <p>{{skill.title}}</p>
        </div>
    </div>
    <div class="skill-description">
        <h2>Skills</h2>
        <p>I've developed a strong understanding of various frontend technologies and concepts through practical project experience.</p>
        <h3>Looking for another skill?</h3>
        <p>Please feel free to contact me. I'm interested in collaborating and expanding my knowledge.</p>
        </div>
</section>

