<section id="skills">
    <div class="skill-icons">
        <div *ngFor="let skill of skills; let last = last" class="skill-icon animate-on-scroll"
             (mouseenter)="showPopup($event, last)" (mouseleave)="hidePopup()">
            <img [src]="skill.pfad" [alt]="skill.title">
            <p>{{skill.title}}</p>
            <div *ngIf="last && isPopupVisible" class="skill-popup">
                <p>{{'skills.popup' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="skill-description">
        <div class="skill-header">
            <h2>My Skills</h2>
            <div class="line"></div>
        </div>
        <p class="animate-on-scroll">{{'skills.description1' | translate}}</p>
            <div class="h3-title animate-on-scroll">
        <h3 class="custom-h3">{{'skills.description2' | translate}}</h3>
    </div>
        <p class="animate-on-scroll">{{'skills.description3' | translate}}</p>
    </div>
    <div class="background-animation">
        <svg class="" width="200" height="200" viewBox="-100 -100 200 200">
            <path d="M 19 -80 L 61 -113 L 90 -116 L 88 -88 L 40 -61 L 44 -8 L 57 0 L 11 -1 L 6 -55 Z" fill="#9747FF" />
            <feTurbulence id="turbulence" baseFrequency="0.01" numOctaves="3" seed="2" />
            <feDisplacementMap in="SourceGraphic" in2="turbulence" scale="20" xChannelSelector="R" yChannelSelector="G" />
            <animate xlink:href="#turbulence" attributeName="baseFrequency" from="0.01" to="0.1" dur="10s" repeatCount="indefinite" />
            <animate xlink:href="#turbulence" attributeName="numOctaves" from="3" to="5" dur="10s" repeatCount="indefinite" />
        </svg>
    </div>
</section>