<section class="portrait-section">
    <div class="portrait-content">
       
        <svg class="rotating-svg1" width="200" height="200" viewBox="-100 -100 200 200">
            <path d="M 34.1261 46.4918 L -63.1771 6.826 L 20.9806 -48.7395 Z" fill="#9747FF" />
        </svg>
        <svg class="rotating-svg2" width="200" height="200" viewBox="-100 -100 200 200">
            <path d="M 39 -20 c -51 17 -21 66 -68 72 c -37 -12 -47 -58 -23 -63 C -27 -11 -23 -43 16 -37 z" fill="#9747FF" />
        </svg>
        <svg class="rotating-svg2" width="200" height="200" viewBox="-100 -100 200 200">
            <path d="M 72 -10 c -51 17 -21 66 -68 72 c -37 -12 -47 -58 -23 -63 C -27 -11 -23 -43 16 -37 z" fill="#9747FF" />
        </svg>
        <svg class="rotating-svg3" width="200" height="200" viewBox="-100 -100 200 200">
            <path d="M -15 44 L -22 -23 L 42 -21" fill="#70E61C" />
        </svg>
        <svg class="rotating-svg4" width="200" height="200" viewBox="-100 -100 200 200">
            <path d="M -37 29 C -49 27 1 -3 -22 -23 C -9 -43 33 -44 40 37" fill="#70E61C" />
        </svg>
        <svg class="rotating-svg5" width="200" height="200" viewBox="-100 -100 200 200">
            <path d="M -50 58 C -22.3333 39 -29.6667 34 -56 8 C -49 27 1 -3 -35 -58 C -9 -43 84 -6 40 37" fill="#70E61C" />
        </svg>



        <img src="assets/img/portrait.png" alt="portrait" class="portrait">
        <div class="welcome-area">
            <p class="portrait-content-IAm">I am</p>
            <p class="name">Christian Fischer<br>Frontend Developer</p>
        </div>
    </div>
    <svg viewBox="0 0 100 40" preserveAspectRatio="none" class="portrait-section__svg">
        <defs>
            <linearGradient id="gradient" x1="0%" y1="100%" x2="0%" y2="0%">
                <stop offset="0%" style="stop-color:#141D2E;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#283654;stop-opacity:1" />
            </linearGradient>
        </defs>
        <path fill="url(#gradient)" d="m 0 0 l 0 31 l 137 0 l 0 -31 c -46 13 -135 40 -137 0"></path>
    </svg>
</section>
<div class="icon-line">
    <div class="line"></div>
    <a href="https://github.com/Lanz33" target="_blank">
        <img class="icon-img" src="assets/img/github-button.png" alt="GitHub" />
    </a>
    <a href="www.linkedin.com/in/christian-fischer-a06084176" target="_blank">
        <img class="icon-img" src="assets/img/linkedin-button.png" alt="LinkedIn" />
    </a>
    <a href="#contact-me">
        <img class="icon-img" src="assets/img/email-button.png" alt="Mail" />
    </a>
    <a href="#contact-me" class="mail-adress">industriemeister33 (at) gmail.com</a>

</div>