img {
    width: 646px;
    height: 705px;
    margin-top: 106px;
    margin-left: 47px;
        display: block;
        background-image: url('./../../../public/assets/img/portraitBackground.svg');
        background-repeat: no-repeat;
        background-size: cover; /* oder contain, je nach Wunsch */
        
}