.portrait-section {
    display: flex;
    justify-content:flex-start;
    position: relative;
    background-color: #151E30;
    width: 100vw;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.portrait {
    width: 40%;
    display: block;
    margin-left: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    margin-bottom: 0;
}

.line-to-portrait-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.portrait-content {
    display: grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.portrait-content-IAm {
    font-size: 2.2rem;
    font-weight: 400;
    transform: rotate(-90deg);
    width: 92px;
    margin: 0;
    padding: 0;
}

.portrait-content-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 35px;

}

.portrait-content-text-responsive {
    display: none;
    margin-bottom: 40px;
    margin-top: -50px;
    justify-content: center;
    align-items: center;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 2.6rem;
    font-weight: 400;
    color: #FFFFFF;
    text-align: justify;

}

.job-title {
    color: #9747FF;
    margin: 0;
    font-size: 2.2rem;
    line-height: 90%;
    text-align: justify;
}

.icon-line {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    height: 40px;
    width: 100%;

    .line {
        width: 100px;
        height: 3px;
        background-color: #9747FF;
    }

    .mail-adress {
        margin-left: 10px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

.icon-img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.background-animation {
    position: absolute;
    filter: blur(20px);
    transition: all 1s linear;
    top: 2vw;
    left: 2vw;
}

.portrait-section-svg {
    display: flex;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
    margin-top: -22%;
    height: 100%;
    overflow: hidden;
}

.top-shadow-svg {
    filter: drop-shadow(-4px -5px 3px rgba(0, 0, 0, 0.5));
}

.SVG-background {
    width: 50vw;
    height: 50vw;
}

.contact-button-responsive {
    display: none;
    width: 24vw;
    max-width: 175px;
    height: 10vw;
    max-height: 60px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.7rem, 3vw, 2.2rem);
    transition: background-color 0.3s ease;
    background-color: #70E61C;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;

    &:hover {
        background-color: #9747FF;
        scale: 1.05;
    }
}

.contact-button {
    display: flex;
    width: 175px;
    height: 58px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
    background-color: #70E61C;
    border: none;
    cursor: pointer;
    margin: 44px 0;
    z-index: 5;

    &:hover {
        background-color: #9747FF;
        scale: 1.05;
    }
}

.contact-button-responsive-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.contact-button-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows-down {
    position: absolute;
    bottom: 5vw;
    right: 10vw;
    width: 24px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    z-index: 10;

    .arrow {
        width: 17px;
        height: 17px;
        position: absolute;
        border-right: 3px solid #70E61C;
        border-bottom: 3px solid #70E61C;
        transform: rotate(45deg);
        transition: all 0.3s ease;

        &:nth-child(1) {
            animation: arrow-animation 2s linear infinite;
            top: 0;
        }

        &:nth-child(2) {
            animation: arrow-animation 2s linear infinite 0.2s;
            top: 10px;
        }

        &:nth-child(3) {
            animation: arrow-animation 2s linear infinite 0.4s;
            top: 20px;
        }
    }

    &:hover {
        .arrow {
            border-color: #9747FF;
        }
    }
}

@keyframes arrow-animation {
    0% {
        transform: rotate(45deg) scale(1);
    }

    20% {
        transform: rotate(45deg) scale(1.2);
        opacity: 1;
        margin-top: 10px;
    }

    50% {
        transform: rotate(45deg) scale(1);

        margin-top: 20px;
    }

    100% {
        transform: rotate(45deg) scale(1);
        opacity: 0.2;
        margin-top: 0;
    }
}

@media screen and (min-width: 1441px) {
    .SVG-background {
        width: 720px;
        height: 720px;
    }
}

@media screen and (max-width: 861px) {

    .portrait-content-text {
        display: none;
    }

    .portrait-content-text-responsive {
        display: flex;
        background-color: #151E30;
        z-index: 1;

        .name {
            font-size: 7vw;
        }

        .job-title {
            font-size: 6vw;
        }

        .portrait-content-IAm {
            font-size: 6vw;
            width: 15vw;
        }
    }

    .contact-button-responsive {
        display: flex;
    }

    .contact-button {
        display: none;
    }
}

@media (max-width: 550px) {
    .mail-adress {
        display: none;
    }

    .portrait-content-text-responsive {
        margin-top: -20px;
        margin-bottom: 16px;
        transition: all 1s linear;
    }

    .background-animation {
        filter: blur(13px);
    }
}