.portrait-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #141D2E;
    width: 100%;
    flex-direction: column;
    height: 90vh;
}

.portrait {
    max-width: 40%;
    display: block;
    margin-left: 14%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.portrait-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}

.portrait-content-IAm {
    font-size: 3rem;
    font-weight: 400;
    transform: rotate(-90deg);
    width: 16%;
}

.welcome-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.name {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 400;
    color: #FFFFFF;
    width: 620px;
    p {
        color: #9747FF;
        margin: 0;
    }
}

.icon-line {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    height: 40px;
    width: 590px;

    .line {
        width: 100px;
        height: 3px;
        background-color: #9747FF;
    }
    .mail-adress {
        margin-left: 10px;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

.icon-img{
    width: 30px;
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.rotating-svg1 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%); 
    width: 50%; 
    height: auto;
    z-index: 1; 
    animation: rotateCW 27s linear infinite; 
    filter: blur(20px);
    opacity: 0.5;
}

.rotating-svg2 {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%); 
    width: 50%; 
    height: auto;
    z-index: 1; 
    animation: rotateCCW 30s linear infinite; 
    filter: blur(20px);
    opacity: 0.5;
}

.rotating-svg3 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); 
    width: 50%; 
    height: auto;
    z-index: 1; 
    animation: rotateCW 36s linear infinite; 
    filter: blur(20px);
    opacity: 0.5;
}

.rotating-svg4 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); 
    width: 50%; 
    height: auto;
    z-index: 1; 
    animation: rotateCW 30s linear infinite; 
    filter: blur(20px);
    opacity: 0.5;
}

.rotating-svg5 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%); 
    width: 50%; 
    height: auto;
    z-index: 1; 
    animation: rotateCCW 32s linear infinite; 
    filter: blur(20px);
    opacity: 0.5;
}

@keyframes rotateCW {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotateCCW {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

svg {
    display: flex;
    width: 100%;
    z-index: 2;
    margin-top: -10%;
    height: 100%;
}