<section class="portrait-section">
    <div class="portrait-content">
        <img src="assets/img/portrait.png" alt="portrait" class="portrait">
        <div class="welcome-area">
            <p class="portrait-content-IAm">I am</p>
            <p class="name">Christian Fischer<br>Frontend Developer</p>
        </div>
    </div>
    <svg viewBox="0 0 100 40" preserveAspectRatio="none" class="portrait-section__svg">
        <defs>
            <linearGradient id="gradient" x1="0%" y1="100%" x2="0%" y2="0%">
                <stop offset="0%" style="stop-color:#141D2E;stop-opacity:1" />
                <stop offset="100%" style="stop-color:#283654;stop-opacity:1" />
            </linearGradient>
        </defs>
        <path fill="url(#gradient)" d="m 0 0 l 0 31 l 137 0 l 0 -31 c -46 13 -135 40 -137 0"></path>
    </svg>
</section>
<div class="icon-line">
    <div class="line"></div>
    <a href="https://github.com/Lanz33" target="_blank">
        <img class="icon-img" src="assets/img/github-button.png" alt="GitHub" />
    </a>
    <a href="www.linkedin.com/in/christian-fischer-a06084176" target="_blank">
        <img class="icon-img" src="assets/img/linkedin-button.png" alt="LinkedIn" />
    </a>
    <a href="#contact-me">
        <img class="icon-img" src="assets/img/email-button.png" alt="Mail" />
    </a>
    <a href="#contact-me" class="mail-adress">industriemeister33 (at) gmail.com</a>

</div>