<section>
    <div class="footer-area">
        <div class="name-impressum">
            <p>Christian</p>
            <div (click)="openImpressum()" class="link-button">Impressum</div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 Christian Fischer. Alle Rechte vorbehalten.</p>
        </div>
        <div class="social-links">
            <a href="https://github.com/Lanz33" target="_blank">
                <img src="/assets/img/github-button.png" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/christian-fischer-327a51365" target="_blank">
                <img src="/assets/img/linkedin-button.png" alt="LinkedIn">
            </a>
        </div>
        <app-impressum-overlay *ngIf="showImpressum" [isVisible]="showImpressum"
            (closed)="onImpressumClosed()"></app-impressum-overlay>
    </div>
</section>